<div class="card">
    <div class="card__header">
        <div class="card__title">Курс Робототехника</div>
        <div class="card__titleInfo">
            <div class="card__text">Старт 10.03.2020</div>
            <div class="card__text">Осталось 7 мест из 20</div>
        </div>
    </div>
    <div class="card__headline">Форма обучения</div>
    <div class="card__line"></div>
    <div class="card__line"></div>
    <div class="card__headline">Программа курса</div>
    <div class="card__text">
        — Для учителей технологии и педагогов дополнительного образования
    </div>
    <div class="card__text">
        — Для школьников, студентов, родителей и всех, кто хочет познакомиться с основами робототехники
    </div>
    <div class="card__headline">Программа курса</div>
    <div class="card__item">
        <div class="card__text">1. Введение</div>
        <div class="card__add"></div>
    </div>
    <div class="card__item">
        <div class="card__text">2. Методологии управления проектами в IT</div>
        <div class="card__add"></div>
    </div>
    <div class="card__item">
        <div class="card__text">3. Гибкие методологии в IT</div>
        <div class="card__add"></div>
    </div>
    <div class="card__item">
        <div class="card__text">4. Software Development Life Cycle (SDLC)</div>
        <div class="card__add"></div>
    </div>
    <div class="card__item">
        <div class="card__text">5. Разработка плана проекта</div>
        <div class="card__add"></div>
    </div>
    <div class="card__item">
        <div class="card__text">6. Управление стоимостью проекта в IT</div>
        <div class="card__add"></div>
    </div>
    <div class="card__item">
        <div class="card__text">7. Инициация проекта</div>
        <div class="card__add"></div>
    </div>
    <div class="card__item">
        <div class="card__text">8. Распределение ролей на проекте</div>
        <div class="card__add"></div>
    </div>
    <div class="card__item">
        <div class="card__text">9. Процессы завершения проекта</div>
        <div class="card__add"></div>
    </div>
    <div class="card__item">
        <div class="card__text">10. Подведение итогов курса</div>
        <div class="card__add"></div>
    </div>
    <div class="card__item">
        <div class="card__text"></div>
        <div class="card__add"></div>
    </div>
</div>