.mainPage {
    height: 100vh;
    //width: 100vw;
    background-color: rgb(62, 37, 85);
    &__content {
        display: flex;
    }
    &__description {
        margin: 10.7vh 0 0 21vw;
    }
    &__arrow {
        margin: 3.7vh 0;
    }
    &__submit {
        margin-top: 3.7vh;
    }
    &__title {
        color: white;
        font-weight: 900;
        font-size: 60px;
        line-height: 73px;
    }
    &__text {
        color: white;
        font-size: 24px;
        line-height: 34px;
    }
    &__art {
        margin-top: 1.5vw;
    }
    &__ellipse6 {
        position: absolute;
        width: 6vw;
        height: 6vw;
        left: 9.2vw;
        top: 27.1vh;
        background: radial-gradient( 77.16% 77.16% at 19.75% 10.49%, #e1b6fa 0%, #b55dea 44.99%, #7111aa 100%);
        box-shadow: 0.21vw 0.21vw 1.04vw #5e148a;
        filter: blur(1.04vw);
    }
    &__ellipse7 {
        position: absolute;
        width: 5.4vw;
        height: 5.4vw;
        left: 12vw;
        top: 67.7vh;
        background: radial-gradient( 77.16% 77.16% at 19.75% 10.49%, #aa35ef 0%, #f2dcff 0.01%, #ad64d9 44.99%, #7111aa 100%);
        box-shadow: 0.21vw 0.52vw 1.04vw #5e148a;
        filter: blur(1.56vw);
    }
    &__ellipse8 {
        position: absolute;
        width: 7vw;
        height: 7vw;
        left: 89vw;
        top: 70vh;
        background: radial-gradient( 96.11% 96.11% at 0% -8.45%, #fbf5ff 0%, #ffffff 0.01%, #c082e4 44.99%, #510082 100%);
        box-shadow: 0.21vw 0.21vw 1.04vw #000000;
        filter: blur(1.56vw);
    }
}