<div class="mainPage">
    <app-header></app-header>
    <div class="mainPage__description">
        <div class="mainPage__title">
            Курс<br /> робототехники
        </div>
        <div class="mainPage__arrow">
            <app-arrow></app-arrow>
        </div>
        <div class="mainPage__text">
            Уникальная программа направлена на<br /> изучения базовых знаний по информатике,<br /> программированию, схемотехнике и<br /> конструированию
        </div>
        <div class="mainPage__submit">
            <app-sign-up></app-sign-up>
        </div>
    </div>
    <div class="mainPage__ellipse6"></div>
    <div class="mainPage__ellipse7"></div>
    <div class="mainPage__ellipse8"></div>
</div>