<div class="descriptionPage">
    <div class="descriptionPage__content">
        <div class="descriptionPage__title">Описание курса</div>
        <app-arrow></app-arrow>
        <div class="descriptionPage__text">
            Сегодня игры стали постоянным спутником человека. С одной стороны, распространение мобильных<br /> устройств позволило людям посвящать играм больше времени, с другой — геймификация проникает во<br /> все сферы жизни, и игровой софт требуется
            уже далеко не только для развлекательных целей. В ходе<br /> курса вы познакомитесь с главными элементами разработки: изучите игровой ландшафт, дизайн игрового<br /> мира, VR и AR в Unity, 3D-графику, звуковые эффекты и музыку.
        </div>
        <div class="descriptionPage__card">
            <app-card></app-card>
        </div>
    </div>
</div>