.infoPage {
    //width: 100vw;
    background-color: rgb(62, 37, 85);
    &__content {
        display: flex;
        justify-content: center;
        padding-left: 25px;
        padding-bottom: 3.2vh;
    }
    &__block {
        margin-left: 9.25vw;
    }
    &__title {
        padding: 9.26vh 0 7.85vh;
        text-align: center;
        color: white;
        font-size: 60px;
        font-weight: 900;
    }
    &__column {
        margin-bottom: 4.625vh;
    }
}

.column {
    margin-right: 9.375vw;
    &__title {
        height: 24px;
        font-size: 24px;
        display: flex;
        margin-bottom: 10px;
    }
    &__dash {
        height: 2px;
        width: 40px;
        background-color: white;
        margin: auto 10px auto -50px;
    }
    &__text {
        color: white;
    }
}