<div class="infoPage">
    <div class="infoPage__title">ЧТО ВЫ ПОЛУЧИТЕ</div>
    <div class="infoPage__content">
        <div class="infoPage__block">
            <div class="infoPage__column column">
                <div class="column__title">
                    <div class="column__dash"></div>
                    <div class="column__text column__text_title">Сертификат</div>
                </div>
                <div class="column__text">
                    Lorem ipsum dolor sit amet,<br /> consectetur adipiscing elit, sed do<br /> eiusmod tempor incididunt ut.
                </div>
            </div>
            <div class="infoPage__column column">
                <div class="column__title">
                    <div class="column__dash"></div>
                    <div class="column__text column__text_title">Сертификат</div>
                </div>
                <div class="column__text">
                    Lorem ipsum dolor sit amet,<br /> consectetur adipiscing elit, sed do<br /> eiusmod tempor incididunt ut.
                </div>
            </div>
            <div class="infoPage__column column">
                <div class="column__title">
                    <div class="column__dash"></div>
                    <div class="column__text column__text_title">Набор инструментов</div>
                </div>
                <div class="column__text">
                    Duis aute irure dolor in reprehenderit<br /> in voluptate velit esse cillum dolore<br /> eu fugiat nulla pariatur.
                </div>
            </div>
        </div>
        <div class="infoPage__block">
            <div class="infoPage__column column">
                <div class="column__title">
                    <div class="column__dash"></div>
                    <div class="column__text column__text_title">Навыки</div>
                </div>
                <div class="column__text">
                    Duis aute irure dolor in reprehenderit<br /> in voluptate velit esse cillum dolore<br /> eu fugiat nulla pariatur.
                </div>
            </div>
            <div class="infoPage__column column">
                <div class="column__title">
                    <div class="column__dash"></div>
                    <div class="column__text column__text_title">Навыки</div>
                </div>
                <div class="column__text">
                    Duis aute irure dolor in reprehenderit<br /> in voluptate velit esse cillum dolore<br /> eu fugiat nulla pariatur.
                </div>
            </div>
            <div class="infoPage__column column">
                <div class="column__title">
                    <div class="column__dash"></div>
                    <div class="column__text column__text_title">
                        Видеолекции и материалы
                    </div>
                </div>
                <div class="column__text">
                    Duis aute irure dolor in<br /> reprehenderit in voluptate velit esse<br /> cillum dolore eu fugiat nulla pariatur.
                </div>
            </div>
        </div>
    </div>
</div>