<div class="teacherPage">
    <div class="teacherPage__title">Преподы</div>
    <app-arrow></app-arrow>
    <div class="teacherPage__content">
        <div class="teacherPage__photo">
            <img src="../../../assets/main/OTSOUE0 1.png" alt="" />
        </div>
        <div class="teacherPage__description description">
            <div class="description__content">
                <div class="description__title">Алексей Рудь</div>
                <div class="description__item">Опыт работы: 7 лет</div>
                <div class="description__item">Специальность: Робототехника</div>
                <div class="description__link">Мой Linkedin</div>
                <div class="description__more">Больше преподов</div>
            </div>
        </div>
    </div>
</div>