<div class="commentPage">
    <div class="commentPage__comment">
        <div class="commentPage__title">
            ОТЗЫВЫ
            <div class="commentPage__title_blue">ВЫПУСКНИКОВ</div>
        </div>
        <div class="commentPage__card">
            <div class="card__sideline">
                <div class="card__line"></div>
                <div class="card__line"></div>
                <div class="card__line"></div>
                <div class="card__line"></div>
                <div class="card__line"></div>
            </div>
            <div class="card__header">
                <div class="card__photo"></div>
                <div class="card__title_bold">Ксения Випускникова</div>
                <div class="card__title">Курс «Функциональное тестирование ПО»</div>
            </div>
            <div class="card__text">
                <div class="card__quotation">“</div>
                Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов!
            </div>
            <div class="card__feedback">Читать весь отзыв</div>
        </div>
    </div>
    <div class="commentPage__content content">
        <div class="content__header header">
            <div class="header__line"></div>
            <div class="header__text">
                Образовательный центр программирования и высоких технологий HSR
            </div>
            <div class="header__line"></div>
            <div class="header__text">
                // Заинтересованы? Запишитесь на курс сейчас!
            </div>
        </div>
        <div class="content__main main">
            <div class="main__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
            <div class="main__line"></div>
            <div class="main__button"></div>
        </div>
        <div class="content__footer footer">
            <div class="footer__item">Главная</div>
            <div class="footer__item">Обучение</div>
            <div class="footer__item">Ближайшие старты</div>
            <div class="footer__item">Онлайн обучение</div>
            <div class="footer__item">О нас</div>
            <div class="footer__item">Новости</div>
            <div class="footer__item">Трудоустройство</div>
            <div class="footer__item">Отзывы</div>
            <div class="footer__line"></div>
            <div class="footer__contact">E-mail // sales@hardsoftrobotics.com</div>
            <div class="footer__contact">Phone // +79107670600</div>
            <div class="footer__contact">+34648462581</div>
        </div>
    </div>
</div>