<div class="commentPage">
    <div class="commentPage__comment">
        <div class="commentPage__title">
            ОТЗЫВЫ
            <div class="commentPage__title_blue">ВЫПУСКНИКОВ</div>
        </div>
        <div class="commentPage__card">
            <div class="card__sideline">
                <div class="card__line"></div>
                <div class="card__line"></div>
                <div class="card__line"></div>
                <div class="card__line"></div>
                <div class="card__line"></div>
            </div>
            <div class="card__header">
                <img class="card__photo" src="../../../assets/main/24079 1.png" />
                <div class="card__photoDescription">
                    <div class="card__title_bold">Ксения Випускникова</div>
                    <div class="card__title">Курс «Функциональное тестирование ПО»</div>
                </div>
            </div>
            <div class="card__text">
                <span class="card__quotation">“</span> Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI<br /> века. В то время некий безымянный печатник создал большую коллекцию размеров и<br /> форм шрифтов, используя Lorem
                Ipsum для распечатки образцов!
            </div>
            <div class="card__feedback">Читать весь отзыв</div>
        </div>
    </div>
    <div class="commentPage__content content">
        <div class="content__header header">
            <!-- <div class="header__line"></div> -->
            <div class="header__text">
                Образовательный центр<br /> программирования и высоких<br /> технологий HSR
            </div>
            <div class="header__vline vline"></div>
            <div class="header__text header__text_big">
                // Заинтересованы?<br /> Запишитесь на курс сейчас!
            </div>
        </div>
        <div class="content__main main">
            <div class="main__text">
                Lorem ipsum dolor sit amet, consectetur<br /> adipiscing elit, sed do eiusmod tempor<br /> incididunt ut labore et dolore magna<br /> aliqua. Ut enim ad minim veniam, quis<br /> nostrud exercitation ullamco laboris nisi ut<br /> aliquip
                ex ea commodo consequat.
            </div>
            <div class="main__end">
                <div class="main__line"></div>
                <div class="main__button">
                    <app-button></app-button>
                </div>
            </div>
        </div>
        <div class="content__footer footer">
            <div class="footer__block">
                <div class="footer__item">Главная</div>
                <div class="footer__item">Обучение</div>
                <div class="footer__item">Ближайшие старты</div>
                <div class="footer__item">Онлайн обучение</div>
            </div>
            <div class="footer__block">
                <div class="footer__item">О нас</div>
                <div class="footer__item">Новости</div>
                <div class="footer__item">Трудоустройство</div>
                <div class="footer__item">Отзывы</div>
            </div>

            <div class="footer__vline vline"></div>
            <div class="footer__block">
                <div class="footer__contact">E-mail // sales@hardsoftrobotics.com</div>
                <div class="footer__contact_phone">
                    Phone //&nbsp;
                    <div>
                        <div class="footer__contact">+79107670600</div>
                        <div class="footer__contact">+34648462581</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>